{% extends "index.html" %}

{% block content %}
<div class="page-header">
  <h1>Opencv, Webrtc, Python and Websockets</h1>
</div>
<div class="row">
  <span class="span5">
    <video id="live" width="320" height="240" autoplay></video>
    <canvas width="320" id="canvas" height="240" ></canvas>
  </span>
  <span class="span5">
    <form class="form-horizontal">
      <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="" />
      </p>
      <p>
        <button type="submit" class="btn" id="start">Start!</button>
        <button type="submit" class="btn" id="stop">Stop!</button>
        <button type="submit" class="btn" id="train">Train!</button>
      </p>
    </form>
    <pre class="prettyprint">
    </pre>
  </span>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url("scripts/harvest.js") }}" type="text/javascript"></script>
{% end %}
